@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    height: 100vh;
    position: relative;
    
}

section#telefone {  
    width: 500px;
    height: 700px;
    position: absolute;
    bottom: 0px;
    left: 600px;
    background: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
    
}

section#rede-sociais img {
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    
    
}

section#rede-sociais img:hover {
    border: 2px solid white;
    transform: translate(-4px -4px);

}

a {
    background-size: cover;
}




